@font-face {
  font-family: "Chrisp Sans";
  src: url("@/assets/fonts/ChrispSans-black.woff2") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Chrisp Sans";
  src: url("@/assets/fonts/ChrispSans-semibold.woff2") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Chrisp Sans";
  src: url("@/assets/fonts/ChrispSans-bold.woff2") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Chrisp Sans";
  src: url("@/assets/fonts/ChrispSans-medium.woff2") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Chrisp Sans";
  src: url("@/assets/fonts/ChrispSans-regular.woff2") format("opentype");
  font-weight: normal;
  font-style: normal;
}
